[defaults]
# Lock Python interpreter to avoid warnings
interpreter_python = /usr/bin/python3.12

# Default inventory file
inventory = ./inventory.ini

# Disable host key checking (avoids prompts on first SSH connect)
host_key_checking = False

# Show more detailed output if needed
#stdout_callback = yaml
#stdout_callback = progress_bar
#stdout_callback = community.general.yaml
stdout_callback = default
result_format = yaml
# Use profile_tasks to show timing per task
callback_whitelist = profile_tasks
vault_password_file = ~/.ansible_vault_pass
